@model IList<Works.DeveloperEvaluation.WebApi.Features.Assuntos.ListarAssunto.ListarAssuntoResponse>

@{
    ViewData["Title"] = "Lista de Assuntos";
}

<h1>Assuntos</h1>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}

<p>
    <a asp-action="Create" class="btn btn-primary">Criar Novo Livro</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Descrição</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CodAs</td>
                <td>@item.Descricao</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CodAs" class="btn btn-sm btn-warning">Editar</a>
                    @* <a asp-action="Details" asp-route-id="@item.CodL" class="btn btn-sm btn-info">Detalhes</a> *@ 
                    <a asp-action="Delete" asp-route-id="@item.CodAs" class="btn btn-sm btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
```
